[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pmartR"]
	path = pmartR
	url = https://github.com/pmartr/pmartr
[submodule "pmartRdata"]
	path = pmartRdata
	url = https://github.com/pmartR/pmartRdata
	registered = false
[submodule "trelliscopejs"]
	path = trelliscopejs
	url = https://github.com/hafen/trelliscopejs
	registered = false
